body{
    
    background: url(background.jpg) no-repeat center center fixed #000; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    font-family: 'Times New Roman', Times, serif;
    font-display: flex;
}
.buttons{
    display: flex;
    background-color: black;
    color: blanchedalmond;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 15px;
    flex-wrap: wrap;
   
    
}
.mycanvas{
    text-align: center;
    align-content: center;
}

.scores{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: x-large;
    font-weight: bold;
    border: 2px solid black;
    color: white;
    background-color: grey;
}
#bottom {
    position:relative;                 
    bottom:0;                         
    left: 0;
                         
}

.instru{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightslategray;
    color: black;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    
}